.about {
  padding: 80px 0;
  scroll-margin-top: 98px;

  &__container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 30px;
  
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__image {
    margin-bottom: 44px;
  }

  @media (max-width: 940px) {
    &__container {
      padding: 0 4%;

      &__content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}