@use 'variables';

.footer {
  height: 100px;
  background-color: variables.$bodyColorSecondary;
  color: variables.$colorTextSecondary;
  margin-top: 168px;
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 4%;
    text-align: center;
  }
}