@use 'variables';
@use 'header';
@use 'hero';
@use 'carousel';
@use 'footer';

@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: RussoOne;
  src: url(../../assets/fonts/RussoOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: variables.$bodyColorPrimary;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variables.$colorTextPrimary;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  font-family: RussoOne;
  color: variables.$colorTextPrimary;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: 4px;
}

.title--big {
  @include title(64px);
}

.title--medium {
  @include title(44px);
}

.text--medium {
  @include text;
}

.about {
  padding: 80px 0;
  scroll-margin-top: 98px;

  &__image {
    max-width: 100%;
  }
}

.image-text-container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.movies {
  padding: 80px 0;
  scroll-margin-top: 98px;
  background-color: variables.$bodyColorSecondary;

  .title--big {
    color: variables.$colorTextSecondary;
  }
}

.characters {
  padding: 80px 0;
  scroll-margin-top: 98px;
}

.labors {
  padding: 80px 0;
  scroll-margin-top: 98px;
  background-color: variables.$bodyColorSecondary;

  .title--big {
    color: variables.$colorTextSecondary;
  }
}

.shop {
  padding: 80px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
  }

  &__btn-link {
    position: relative;
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;

    clip-path: polygon(
      25% 5%, 75% 5%,
      100% 50%,
      75% 95%, 25% 95%,
      0% 50%
    );
  }
}