@use 'variables';
@use 'header';
@use 'hero';
@use 'carousel';
@use 'about';
@use 'shop';
@use 'footer';

@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: RussoOne;
  src: url(../../assets/fonts/RussoOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: variables.$bodyColorPrimary;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variables.$colorTextPrimary;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  font-family: RussoOne;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: 4px;
}

.title--big {
  @include title(44px);

  @media (max-width: 1024px) {
    @include title(36px)
  }
}

.text--medium {
  @include text;
}

.text--big {
  @include text(18px);
}

.section-carousel {
  padding: 80px 0;
  scroll-margin-top: 98px;

  &--ligth {
    background-color: variables.$bodyColorPrimary;
    color: variables.$colorTextPrimary;
  }

  &--dark {
    background-color: variables.$bodyColorSecondary;
    color: variables.$colorTextSecondary;
  }
}